apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: network

resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml

labels:
  - pairs:
      app.kubernetes.io/name: adguard-home
      app.kubernetes.io/part-of: homelab-infrastructure
      env: base
    includeSelectors: true # This mimics the old 'commonLabels' behavior
